
.menu-collapse {
    font-size: 1rem;
    letter-spacing: 0;
}
.menu-hamburger {
    width: 16px;
    height: 16px;
}
.u-button-style {
    padding: 10px 20px;
}
.u-section-1 {
    background-image: none;
    min-height: 800px;
}

.u-section-1 .u-shape-1 {
    height: 230px;
    margin-top: 60px;
    margin-bottom: 0;
}

.u-section-1 .u-group-1 {
    min-height: 350px;
    width: 965px;
    margin: -320px auto -30px calc(((100% - 1140px) / 2) + 88px);
}



.u-section-1 .u-form-1 {
    height: 307px;
    margin: 3px 0 0 394px;
}


.u-section-1 .u-text-1 {
    font-weight: 700;
    margin: -232px 570px 0 0;
}


.u-section-1 .u-text-2 {
    font-weight: 400;
    margin: 20px 570px 0 0;
}

.u-section-1 .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 128px;
    min-width: 80px;
    margin: 15px 731px 0 0;
}

.u-section-1 .u-icon-4 {
    height: 100%;
}

.u-section-1 .u-icon-5 {
    height: 100%;
}

.u-section-1 .u-icon-6 {
    height: 100%;
}
.u-section-1 .u-sheet-1 {
    min-height: 561px;
}

.u-section-1 .u-repeater-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 441px;
    grid-template-columns: calc(33.3333% - 15px) calc(33.3333% - 15px) calc(33.3333% - 15px);
    height: auto;
    grid-gap: 22px;
}
.u-section-1 .u-repeater-item-1 {
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 20px 20px;
}

.u-section-1 .u-text-1 {
    margin-bottom: 0;
}

.u-section-1 .u-image-1 {
    height: 222px;
    margin-top: 17px;
    margin-bottom: 0;
}

.u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-bottom: 0;
}



.u-section-1 .u-container-layout-2 {
    padding: 30px 20px;
}

.u-section-1 .u-text-3 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-image-2 {
    height: 222px;
    margin-top: 17px;
    margin-bottom: 0;
}

.u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
    background-image: none;
    border-style: none none solid;
    margin: 17px auto 0 0;
    padding: 0;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px 20px;
}

.u-section-1 .u-text-5 {
    margin-top: 0;
    margin-bottom: 0;
}

.u-section-1 .u-image-3 {
    height: 222px;
    margin-top: 17px;
    margin-bottom: 0;
}

.u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
    background-image: none;
    border-style: none none solid;
    margin: 17px auto 0 0;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 484px;
    }

    .u-section-1 .u-repeater-1 {
        min-height: 364px;
        grid-template-columns: repeat(3, calc(33.333333333333336% - 15px));
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 956px;
    }

    .u-section-1 .u-repeater-1 {
        min-height: 836px;
        grid-template-columns: repeat(2, calc(50% - 11.25px));
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-image-1 {
        height: 278px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-image-2 {
        height: 278px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-image-3 {
        height: 278px;
    }
}
@media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
        width: 940px;
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-form-1 {
        margin-left: 369px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 545px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 545px;
    }
}

@media (max-width: 991px) {

    .u-section-1 .u-group-1 {
        min-height: 384px;
        width: 720px;
        margin-left: auto;
    }

    .u-section-1 .u-container-layout-1 {
        padding: 30px;
    }

    .u-section-1 .u-form-1 {
        height: 287px;
        margin-top: 18px;
        margin-left: 321px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 357px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 357px;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 833px;
    }

    .u-section-1 .u-group-1 {
        min-height: 713px;
        width: 540px;
    }

    .u-section-1 .u-form-1 {
        margin-top: 357px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-1 {
        margin-top: -600px;
        margin-right: 217px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 217px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-group-1 {
        width: 340px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-form-1 {
        margin-top: 349px;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-1 {
        margin-top: -617px;
        margin-right: 71px;
    }

    .u-section-1 .u-text-2 {
        margin-right: 71px;
    }
}